
  
  
  
  h1{
    color:rgba(4, 7, 4, 0.788);
}


.list{
    background-color: aquamarine;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxb5u3GFNGDARRTkQox1y3DL4-uyz_BovFgDAKsqkVJKfBvVeyoLu8RvW2YgJpClm4s2I&usqp=CAU);
    background-size: cover;
    background-position: center;


    width:400px ;
  
    color: lightseagreen;
    margin: 50px auto;
   padding: 30px;
    display: inline-block;
    box-sizing: border-box;

}
.wappar{
 
 
margin: auto;
width: fit-content;
 
       
}
.list a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    background-color: bisque;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 15px;
}

.my{ 
    display: inline-block;
    width:300px ;
    background-color: rgb(228, 226, 225);
    padding: 30px;
    box-sizing: border-box;
    margin: 20px auto;
    border-radius: 25px;
   
}
.my p b{
    color: orangered;
    font-size: 25px;
}
.my p span{
    text-decoration: line-through;
}
.nayeem{
    width: fit-content;
    margin: auto;
 .my a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
